.post_wrapper {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.7rem;
}

.post_wrapper_bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.post_wrapper_bottom p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--icon-color);
}

.post_wrapper_bottom div {
  display: flex;
  gap: 1.5rem;
}

.post_wrapper_top {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.post_wrapper_top .input {
  border-radius: 20px;
  padding: 1.3rem;
}

.post_wrapper_top .post_avatar {
  width: 40px;
  height: 40px;
}
.photo_icon {
  color: var(--link-color);
}
.video_icon {
  color: #5f9b41;
}

.job_icon {
  color: #ad88da;
}
.article_icon {
  color: #e16745;
}
