.news{
    background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: .5rem;
}

.news_time{
    list-style-type: none;
    margin-left: 1.8rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--icon-color);
}

.news .heading{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_title{
    font-size: 1.4rem;
    font-weight: 500;
}

.news .btn_showmore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 600;
    border: none;
    color: var(--icon-color);
    gap: .5rem;
    cursor: pointer;
    padding: .4rem .7rem;
    border-radius: .5rem;
}

.news .btn_showmore:hover{
    background-color: var(--border-color);
}