.main_container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin: 0 auto;
  gap: 2rem;
  margin-top: 8rem;
}
 
footer{
  text-align: center;
}

footer div {
  display: flex;
   
}

footer div p{
  font-size: 1.3rem;
  display: block;
  margin: 0 .5rem;
  
}


@media screen and (max-width: 1000px) {
  .main_right, .main_left{
      display: none;
  }
  .main_container{
    margin-top: 7rem;
    grid-template-columns: 100% ;
  }
}
