
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 :root{
  --body-background: #F3F2EF;
  --primary-text: rgba(0,0,0,.9);
  --secondary-text: rgba(0,0,0,.6);
  --white-bg: #f7f7f7;
  --link-color: #0e72c9;
  --icon-color: #7a7a7a;
  --icon-hover: #191919;
  --border-color: rgba(0, 0, 0, 0.145);
 }

body{
  background-color: var(--body-background);
}

.heading{
  color: var(--primary-text);
  font-size: 1.5rem;
}

 html{
  font-size: 65%;
 }

 .container{
  width: 100%;
  min-height: 100vh;
 }

 .wrapper{
  max-width: 1300px;
  padding: 1rem;
 }

 .icons{
  font-size: 2rem;
  color: var(--icon-color);
 }

 .input{
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--border-color);
  outline: none;
  padding: 1rem;
 }

 
 .rounded{
  border-radius: 50%;
 }